body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* THeme styling */

#light{
  background-color: #e5e7eb;
}

#dark{
  background-color: #0f172a;
}

/* mobile nav */
#dark .open{
  background-color: #0f172a;
}

/* Header theme */
#dark .name{
  color: #d1d5db;
}
#dark a{
  color: #1d4ed8;
}

/* Hero theme */
#dark h1, h2{
  color: #d1d5db;
}
#dark .body, #dark p, #dark .footer{
  color: #94a3b8;
}
#dark .btns button{
  box-shadow: none;
}
#light .body{
  color: black;
}

/* about theme */
#dark .about, #dark .project-stack-div{
  background-color: #1e293b;
}

#light .about, #light .project-stack-div,  #dark input, #dark textarea{
  background-color: #d1d5db;
  color:  #d1d5db;
}
#light .about h2, #light .about p{
  color: black;
}
#dark .about h2{
  color: #d1d5db;
}
 #light .project-stack-div h1, #light .project-stack-div h2, #light .project-stack-div p{
  color: black;
 }

/* Projects */
#dark .card p{
  color: white;
}
#dark .others h2 a, #dark .others p a{
  color:  #d1d5db;
}
/* contact theme */

#dark form, #dark .social-grid div{
  background-color: #1e293b;
  border-radius: 5px;
  box-shadow: none;
}

#dark input, #dark textarea{
  background-color: #334155;
  border: none;
}
#dark form button{
  background-color: #60a5fa;
}

#dark .social-grid img {
  filter: invert(100%);
}
#dark .footer{
  background-color: #1e293b;
}
#light .footer{
  background-color: #60a5fa;
}






